#game {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr 2fr 1fr;
  grid-template-rows: 50px 900px 50px;
  grid-template-areas:
    "header header header header header header"
    ". main main . side."
    ". status . . . ."
}
canvas {
  border: 1px solid black;
}

#main {
  grid-area: main;
}

#side {
  grid-area: side;
}

#status {
  grid-area: status;
  color: red;
}
